# files to ignore
*~
BUILD/
FIRMWARE/*.*
FIRMWARE/bin/synchronizer
FIRMWARE/bin/GeneraApp
FIRMWARE/bin/updater
FIRMWARE/bin/backup
Makefile

FIRMWARE/bin/Resources/
.ycm_extra_conf.py
.ycm_extra_conf.pyc
build.sh
clean.sh
copy_target.sh
copy_to_dropbox.sh
create_firmware.sh
readme.txt
todo.txt
.project

